.background-behind{
    width: 100vw;
    height: auto;
    position: fixed;
    z-index: -9999;
}
.slider1{
    position: relative;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.blank{
    width: 100%;
    height: 60px;
    background-color: var(--black-color);
}
.about-us-image{
    width: 100%;
    max-width: 100%;
    height: 900px;
    object-fit: cover;
    object-position: center;
}
.hidden-1{
    position: absolute;
    top: calc(80px + 60px);
    left: 80px;
    color: var(--white-color);
    font-size: 22px;
}
.hidden-2{
    position: absolute;
    top: 80px;
    right: 80px;
    color: var(--white-color);
    font-size: 22px;
}
.hidden-3{
    position: absolute;
    bottom: 80px;
    left: 80px;
    color: var(--white-color);
    font-size: 22px;
}
.hidden-4{
    position: absolute;
    bottom: 80px;
    right: 80px;
    color: var(--white-color);
    font-size: 22px;
}
.text--right{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(100%);
    transition: all 1s;
}
.text--right{
    display: block;
    margin: 0;
    padding: 0;
}
.text{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}
.text{
    display: block;
    margin: 0;
    padding: 0;
}
.text--right:nth-child(1){
    margin-left: 140px;
}
.text--right:nth-child(2){
    transition-delay: 200ms;
}
.text--right:nth-child(3){
    transition-delay: 200ms;
}
.text--right:nth-child(4){
    transition-delay: 200ms;
}
.text--right:nth-child(5){
    transition-delay: 200ms;
}
.text--right:nth-child(6){
    transition-delay: 200ms;
}
.text:nth-child(1){
    margin-left: 94px;
}
.text:nth-child(2){
    transition-delay: 200ms;
}
.text:nth-child(3){
    transition-delay: 200ms;
}
.text:nth-child(4){
    transition-delay: 200ms;
}
.text:nth-child(5){
    transition-delay: 200ms;
}
@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.header{
    position: fixed;
    left: 0;
    right: 0;
    background-color: var(--black-color);
    height: 70px;
    z-index: 999;
}
.header__navbar{
    display: block;
    width: 100%;
    max-width: 100%;
    display: flex;
    color: var(--white-color);
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
}
.header__navbar-logo{
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header__navbar-logo-company{
    text-decoration: none;
    color: var(--white-color);
    font-size: 4rem;
    font-weight: 700;
}
.header__navbar-logo-img{
    width: 50px;
    margin-right: 8px;
}
.header__navbar-list{
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.header__navbar-item, .header__navbar-link{
    display: inline-block;
}
.header__navbar-item{
    margin: 0 24px;
    position: relative;
    min-height: 26px;
}
.header__navbar-link{
    text-decoration: none;
    font-size: 1.8rem;
    color: var(--white-color);
}
.header__navbar-link--primary{
    color: var(--primary-color);
    font-size: 1.9rem;
    font-weight: 545;
}
.header__navbar-menu{
    font-size: 30px;
    position: relative;
    top: 4px;
    cursor: pointer;
}
.header__navbar-item:last-child{
    margin-right: 0;
}

.slider{
    position: relative;
    padding-top: 70px;
    position: relative;
    height: 950px;
}

.slider-image{
    width: 100%;
    max-width: 100%;
    height: 880px;
    object-fit: cover;
    object-position: center;
}

.square-frame{
    position: relative;
    margin-top: 70px;
    width: 640px;
    max-width: 640px;
    height: 880px;
    background-color: rgba(19, 17, 17, 50%);
    position: absolute;
    top: 0;
}
.square-frame::before{
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: -280px;
    border-top: 880px solid rgba(19, 17, 17, 50%);
    border-right: 280px solid transparent;
}
.app__slider{
    background-color: var(--black-color);
}
.slider-content__heading{
    font-size: 105px;
    line-height: 105px;
    max-width: 800px;
    margin-bottom: 40px;
}
.slider-content__description{
    font-size: 24px;
    line-height: 30px;
    width: 525px;
}
.slider-content__link{
    display: inline-block;
    margin-top: 100px;
    text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    border: 4px solid rgb(202, 30, 236); 
    background: linear-gradient(to bottom, rgb(168, 18, 205), rgb(222, 38, 170));
    color: var(--white-color);
    padding: 10px 100px;
    border-radius: 30px;
    margin-left: 100px ;
}
.slider-content{
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 60px;
    color: var(--white-color);
}
.slider-content__copyright{
    font-size: 20px;
    margin-top: 100px;
}
.background--black{
    background-color: var(--black-color);
}
.container-section{
    background-color: var(--black-color);
    color: var(--white-color);
    padding: 70px 0 70px 0;
}
.container__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}
.container__heading{
    font-size: 4.0rem;
    color: var(--white-color);
}
.container__link{
    text-decoration: none;
    color: var(--white-color);
    display: block;
    font-size: 2.4rem;
}
.container__link:hover{
    color: rgb(251, 10, 239);
}
.container__link-icon{
    margin-left: 15px;
}
.articles-section{
    padding-bottom: 0;
}
.articles-section__header{
    margin-bottom: 20px;
}
.article {
    position: relative;
    width: 100%;
    background-color: #1d1d1d;
    display: block;
    min-height: 430px;
}
.article-container{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #1d1d1d;
    z-index: 1;
}
.article-border{
    position: absolute;
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    top: -20px;
    bottom: -20px;
    right: -20px;
    left: -20px;
    content: "";
    display: block;
    background-color: #1d1d1d;
    z-index: 0;
    display: none;
}
.article:hover .article__heading{
    background-size: 100% 3px;
}
.article:hover .article-border{
    display: block;
}
.article:hover .article__image{
    transform: scale(1.1);
}
.article__image-container{
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.article__image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    transition: transform ease-in 0.2s;
}
.article-info{
    padding: 20px 20px;
    background-color: #1d1d1d;
}
.article__heading{
    background-image: linear-gradient(45deg, rgb(247, 30, 247), rgb(25, 188, 252));
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
    font-size: 2.2rem;
    line-height: 30px;
    height: 65px;
    overflow: hidden; 
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 0;
    color: var(--white-color);
}
.article__description{
    font-size: 1.8rem;
    line-height: 24px;
    height: calc(24px * 4);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    color: var(--white-color)
}
/* .exhibition-section::before{
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--white-color);
    margin-bottom: 80px;
    position: relative;
    top: -70px;
} */
.exhibition{
    position: relative;
    width: 100%;
    background-color: #1d1d1d;
    display: block;
    text-decoration: none;
    min-height: 490px;
    color: var(--white-color);
    border-radius: 6px;
}
.exhibition:hover .exhibition-border{
    display: block;
}
.exhibition:hover{
    color: var(--black-color);
}
.exhibition:hover .exhibition__heading--yellow{
    color: var(--black-color);
}
.exhibition:hover .exhibition__heading--blue{
    color: var(--black-color);
}
.exhibition:hover .background-link--blue{
    background-color: var(--black-color);
    color: #3bb2f8;
}
.exhibition:hover .background-link--yellow{
    background-color: var(--black-color);
    color: #ffe800;
}
.exhibition:hover .exhibition__image{
    border-radius: 0;
    transform: scale(1.2);
}
.exhibition-section__body{
    margin: 70px 0;
}
.exhibition-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 490px;
    z-index: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 6px;
}
.exhibition__image-container{
    width: 50%;
    height: 100%;
    overflow: hidden;
}
.exhibition__image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 10px;
    transition: all linear .2s;
}
.exhibition-info{
    display: inline-block;
    width: 50%;
    height: 490px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.exhibition__heading{
    font-size: 3.0rem;
    line-height: 40px;
    margin: 0;
}
.exhibition__description{
    font-size: 2.8rem;
    line-height: 32px;
    font-weight: 500;
}
.exhibition__type{
    font-size: 1.7rem;
    line-height: 3.0rem;
    letter-spacing: 1px;
}
.exhibition-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.exhibition__date{
    font-size: 1.5rem;
    line-height: 3.0rem;
}
.exhibition__link{
    width: 98px;
    height: 98px;
    display: block;
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.8rem;
    
    border-radius: 50%;
    line-height: 98px;
    margin: auto;
    text-align: center;
    font-weight: 500;
    margin: 0;
}
.background--yellow{
    background-color: #ffe800;
}
.exhibition__heading--yellow{
    color: #ffe800;
}
.background--blue{
    background-color: #3bb2f8;
}
.exhibition__heading--blue{
    color: #3bb2f8;
}
.background-link--yellow{
    background-color: #ffe800;
}
.background-link--blue{
    background-color: #3bb2f8;
}
.exhibition-border{
    position: absolute;
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    top: -30px;
    bottom: -30px;
    right: -30px;
    left: -30px;
    z-index: 0;
    display: none;
    border-radius: 6px;
    animation: fadeIn ease-in .2s;
    transition: all linear .2s;
}
@keyframes fadeIn {
    from{
        opacity: 50%;
    }
    to{
        opacity: 100%;
    }
    
}
.banner{
    margin: 130px 0;
    display: flex;
    background-color: var(--white-color);
    border-radius: 10px;
    border-left: 20px solid #ffe800;
}
.banner-info{
    background-color: transparent;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    margin: auto;
}
.banner__heading{
    flex: 1;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 7.0rem;
    line-height: 90px;
    font-weight: 700;
    letter-spacing: 10px;
}
.banner__content{
    flex: 1;
    padding: 0 30px 30px 0;
}
.banner__description{
    font-size: 2.4rem;
    line-height: 40px;
    text-align: justify;
}
.banner__button{
    position: relative;
    width: 400px;
    height: 70px;
    margin-top: 30px;
}
.banner__link{
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 3.2rem;
    line-height: 70px;
    background-color: #ffe800;
    text-align: center;
    color: var(--black-color);
    font-weight: 400;
    width: 400px;
    border-radius: 10px;
    font-weight: 500;
    z-index: 1;
}
.banner__link-back{
    content: "";
    display: block;
    width: 400px;
    height: 70px;
    background-color: var(--black-color);
    position: absolute;
    top: 20px;
    right: -20px;
    border-radius: 10px;
    z-index: 0;
    
}
.banner__link-icon{
    margin-left: 10px;
}
.explore-section{
    padding-top: 60px;
    padding-bottom: 80px;
    height: 900px;
}
.grid-container--body{
    margin-top: 80px;
}
.collection{
    position: relative;
}
.collection-image-vector{
    width: 300px;
    height: auto;
    position: absolute;
    left: 120px;
    top: 160px;

}
.collection-image{
    position: absolute;
    top: 0;
    width: 260px;
    max-width: 100%;
    height: auto;
}
.collection-image--regular{
    position: absolute;
    width: 202px;
    max-width: 202px;
    right: 80px;
    top: -40px;
    border: 1px solid var(--white-color);
}
.collection-image--small{
    position: absolute;
    width: 202px;
    max-width: 202px;
    
}
.collection-image--small-1{
    right: 130px;
    top: -60px;
}
.collection-image--small-2{
    right: 0px;
    top: 60px;
}
.collection-image--small-3{
    right: 160px;
    top: 300px;
}
.collection-description{
    position: absolute;
    top: 490px;
    right:0;
    left: 0;
    margin-top: 60px;
    font-size: 1.8rem;
    line-height: 24px;
    text-align: center;
}

.image-zoom:hover {
    transform: scale(1.1);
}
.image-zoom{
    transition: transform 0.2s ease;
}
.navigation-link{
    display: block;
    text-decoration: none;
    position: relative;
    margin-bottom: 60px;
}
.navigation-image{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}
.navigation-info{
    font-size: 2.8rem;
    color: var(--black-color);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-weight: 500;
    padding-left: 30px;
    background-color: #ffffffce;
    opacity: 100%;
    margin-bottom: 5px;
    line-height: 60px;
}
.navigation-section{
    padding-top: 30px;
    height: 850px;
}
.navigation-section__heading{
    margin: 40px 0 0 0;
}
.grid__column{
    width: calc(100% + 30px);
    overflow-y: scroll;
    height: 870px;
    margin-left: -30px;
    position: relative;
}
.grid__column::-webkit-scrollbar {
    width: 12px; /* Độ rộng của thanh cuộn */
}

.grid__column::-webkit-scrollbar-track {
    background: transparent; /* Màu nền của thanh cuộn */
}

.grid__column::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu của thanh cuộn */
    border-radius: 6px; /* Độ cong của viền thanh cuộn */
    border: 3px solid #fff; /* Viền của thanh cuộn */
}
.wrapper{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    height: 600px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card{
    overflow: hidden;
    position: relative;
    background-color: white;
    width: 120px;
    border-radius: 0.75rem;
    background-size: cover;
    background-position:center;
    cursor: pointer;
    /* overflow: hidden; */
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, 0.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0 , 0, 0.8);
    border: 1px solid var(--white-color);
}

.card > .row{
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
}
.card > .row > .icon{
    background: #223;
    color: white;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    margin-left: 20.5px;
    font-size: 3.0rem;
}
.card > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 150px;
    width: 850px;
    text-align: justify;
    opacity: 0;
    transform: translateY(150px);
    transition-delay: .1s;
    transition: all .5s ease;
    margin-left: 10px;
}
.card::before{
    content: "";
    display: block;
    width: 1020px;
    height: 170px;
    background-color: #ccccccd4;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    transform: translateY(170px);
    transition-delay: 1s;
    transition: all .5s ease;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
.navigation__link{
    text-decoration: none;
}
.navigation__link:hover .description-title{
    background-size: 100% 5px;
}
.description p {
    color: rgb(52, 52, 52);
    padding: 0;
    font-size: 2.0rem;
    line-height: 28px;
    margin-top: 5px;
    margin-bottom: 30px;
    
}
.description h4{
    min-width: 180px;
    max-width: 500px;
    background-image: linear-gradient(45deg, rgb(247, 30, 247), rgb(20, 114, 254));
    background-size: 0% 5px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 300ms ease;
    font-size: 3.2rem;
    line-height: 50px;
    margin: 0;
    text-transform: uppercase;
    color: #223;
}
input{
    display: none;
}
input:checked + label {
    width: 1020px;
}
input:checked + label.card::before {
    display: block;
    transform: translateY(0px)
}
input:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0px) !important;
}
.card[for="c1"]{
    background-image: url('https://cdn.sculptform.com.au/app/uploads/2019/03/22105741/MECC-Masthead-01.jpg');
}
.card[for="c2"]{
    background-image: url('https://media.wnyc.org/i/1500/1122/l/80/1/6_b4DJNeV.jpg');
}
.card[for="c3"]{
    background-image: url('https://www.thisisathens.org/sites/default/files/styles/paragraph_slideshow_landscape/public/2021-07/20210714-TGR-NationalGallery-0030.jpg?itok=qgC0EIwr');
}
.card[for="c4"]{
    background-image: url('https://s3.ap-southeast-2.amazonaws.com/cdn.greekherald.com.au/wp-content/uploads/2021/12/16095316/Untitled-design-94.jpg');
}
.footer-content{
    font-size: 1.4rem;
    text-align: center;
    margin: 0;
    line-height: 50px;
}
